select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: #f39c12;
}

body {
    background-color: rgba(249, 216, 31, 0.9);
    margin: 0%;
    color: aliceblue;
    font-family: 'Gloria Hallelujah';
}

.showcase::after {
    content: "";
    height: 100vh;
    width: 100%;
    background-image: url("https://www.hdwallpapers.net/previews/holy-pizza-738.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 3%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}

.content .title {
    font-size: 2.8rem;
    margin-top: 1rem;
    color: black;
}

.big {
    border: #FEFEFC solid 12px;
    color: red;
    font-size: xx-large;
    text-align: center;
}

h3 {
    color: rgb(255, 0, 0);
}

h4 {
    color: #f31212;
    font-size: larger;
    animation-delay: inherit;
}

h5 {
    color: #f31212;
    font-size: larger;
    animation-delay: inherit;
}

.jumbotron {
    background-image: url("https://media1.tenor.com/images/ef345fbc792d62ed76a5fd2cfc00adce/tenor.gif?itemid=3455268");
    background-repeat: repeat-x;
    background-position: center;
}

p {
    text-align: center;
    font-size: x-large;
    text-decoration: underline;
    color: red;
}